[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "==1.26.14"
requests = "*"
pymisp = "==2.4.168.1"
crowdstrike-falconpy = "==1.2.11"
certifi = "==2022.12.07"
markdownify = "*"

[dev-packages]

[requires]
python_version = "3.9"
