[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "*"
requests = "*"
pymisp = "==2.4.162.1"
crowdstrike-falconpy = "==1.2.5"

[dev-packages]

[requires]
python_version = "3.9"
