[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = "==1.26.15"
requests = "*"
pymisp = "==2.4.170.1"
crowdstrike-falconpy = "==1.2.14"
certifi = "==2023.7.22"
markdownify = "*"

[dev-packages]

[requires]
python_version = "3.9"
